[submodule "third_party/picorv32"]
	path = third_party/picorv32
	url = https://github.com/YosysHQ/picorv32.git
[submodule "third_party/hazard3"]
	path = third_party/hazard3
	url = https://github.com/Wren6991/Hazard3.git
